.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
*-mxdev.txt
# dirs
instance/
venv/
.make-sentinels/
# files
.installed.txt
.python-version
log.html
output.xml
pip-selfcheck.json
report.html
.vscode/
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/collective
